package {{modelPackage}}

{{#imports}}
import {{import}}
{{/imports}}
{{#models}}
{{#model}}
{{#isEnum}}
enum class {{classname}} {{#vendorExtensions.x-kotlin-implements}}{{#-first}}: {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-kotlin-implements}}{
    {{#allowableValues}}
    {{#enumVars}}
    {{name}}{{^-last}},{{/-last}}
    {{/enumVars}}
    {{/allowableValues}}
}
{{/isEnum}}
{{^isEnum}}
{{#addModelMoshiJsonAnnotation}}import com.squareup.moshi.JsonClass

@JsonClass(generateAdapter = true){{/addModelMoshiJsonAnnotation}}
data class {{classname}}(
    {{#vars}}
    {{#description}}
    /** {{description}} */
    {{/description}}
    {{#isInherited}}override {{/isInherited}}val {{{name}}}: {{{dataType}}}{{^required}}?{{/required}}{{#defaultValue}}{{#isNumber}} = {{{dataType}}}("{{{defaultValue}}}"){{/isNumber}}{{^isNumber}} = {{{defaultValue}}}{{/isNumber}}{{/defaultValue}}{{^defaultValue}}{{^required}} = null{{/required}}{{/defaultValue}}{{^-last}},{{/-last}}
    {{/vars}}
){{#vendorExtensions.x-kotlin-implements}}{{#-first}} : {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-kotlin-implements}}
{{/isEnum}}
{{/model}}
{{/models}}